In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

db_path = r'C:\Users\Lenovo\Documents\Bioinformatics MSc\2024\Discovery\Basic Database\PreGE\THE_FINAL_ONE.db'

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect(db_path)

# Execute the SQL query and load the data into a DataFrame
query = '''
    SELECT 
        r.study_id,
        rg.gene_id,
        AVG(rg.tpm_value) AS avg_tpm
    FROM 
        run_genes rg
    JOIN 
        runs r ON rg.run_id = r.run_id
    JOIN 
        studies s ON r.study_id = s.study_id
    JOIN 
        study_species ss ON s.study_id = ss.study_id
    JOIN 
        species sp ON ss.species_id = sp.species_id
    WHERE 
        sp.species_name = 'brugia_malayi'  -- Replace with the specific species name
    GROUP BY 
        r.study_id, rg.gene_id
    ORDER BY 
        r.study_id, avg_tpm DESC;
'''

df = pd.read_sql_query(query, conn)
conn.close()

# Display the DataFrame to understand its structure
print(df.head())

DatabaseError: Execution failed on sql '
    SELECT
        r.study_id,
        rg.gene_id,
        AVG(rg.tpm_value) AS avg_tpm
    FROM
        run_genes rg
    JOIN
        runs r ON rg.run_id = r.run_id
    JOIN
        studies s ON r.study_id = s.study_id
    JOIN
        study_species ss ON s.study_id = ss.study_id
    JOIN
        species sp ON ss.species_id = sp.species_id
    WHERE
        sp.species_name = 'brugia_malayi'  -- Replace with the specific species name
    GROUP BY
        r.study_id, rg.gene_id
    ORDER BY
        r.study_id, avg_tpm DESC;
': no such table: run_genes